In [66]:
import pandas as pd
from pathlib import Path

In [67]:
budget_csv_path = Path("C:\\Users\\vinot\\Fintech_Homework_101\\HW02_Python\\PyBank\\budget_data.csv")

In [68]:
budget_data = pd.read_csv(budget_csv_path)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [69]:
budget_data.duplicated().mean()

0.0

In [70]:
Average_Diff = budget_data["Profit/Losses"].diff()
Average_Diff

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [71]:
budget_data["Difference"] = Average_Diff
budget_data

        Date  Profit/Losses  Difference
0   Jan-2010         867884         NaN
1   Feb-2010         984655    116771.0
2   Mar-2010         322013   -662642.0
3   Apr-2010         -69417   -391430.0
4   May-2010         310503    379920.0
..       ...            ...         ...
81  Oct-2016         102685   -665765.0
82  Nov-2016         795914    693229.0
83  Dec-2016          60988   -734926.0
84  Jan-2017         138230     77242.0
85  Feb-2017         671099    532869.0

[86 rows x 3 columns]

In [72]:
Max_Diff = budget_data["Difference"].max()
Max_Diff

1926159.0

In [73]:
Min_Diff = budget_data["Difference"].min()
Min_Diff

-2196167.0

In [74]:
Average_Change = round(budget_data["Difference"].mean(),2)
Average_Change

-2315.12

In [75]:
Total = ('${:.0f}'.format(budget_data["Profit/Losses"].sum()))
Total

'$38382578'

In [76]:
Total_Months = (budget_data["Date"].count())
Total_Months

86

In [77]:
Max_Date = budget_data.loc[budget_data["Difference"]== max_22]
Max_Date
Maximum_Date = Max_Date['Date'].values[0]
Maximum_Date

'Feb-2012'

In [78]:
Min_Date = budget_data.loc[budget_data["Difference"]==min_23]
Minimum_Date = Min_Date['Date'].values[0]
Minimum_Date

'Sep-2013'

In [80]:
print("Financial Analysis")
print("----------------------------")
print(f"Total Months:{Total_Months}")
print(f"Total Amount:{Total}")
print(f"Average Change :{Average_Change}")
print(f"Greatest Increase in Profits:{Maximum_Date}({Max_Diff})")
print(f"Greatest Decrease in Profits: {Minimum_Date}({Min_Diff})")

Financial Analysis
----------------------------
Total Months:86
Total Amount:$38382578
Average Change :-2315.12
Greatest Increase in Profits:Feb-2012(1926159.0)
Greatest Decrease in Profits: Sep-2013(-2196167.0)

In [81]:
file = open("Financial_Analysis.txt","w")
file.write("Financial Analysis" + "\n")
file.write("---------------------------" + "\n")
file.write(f"Total Months:{Total_Months}\n")
file.write(f"Total Amount:{Total}\n")
file.write(f"Average Change :{Average_Change}\n")
file.write(f"Greatest Increase in Profits:{Maximum_Date}({Max_Diff})\n")
file.write(f"Greatest Decrease in Profits: {Minimum_Date}({Min_Diff})\n")
file.close()